:root {
  --color-bg-1: #102A43;
  --color-bg-2: #334E68;
  --color-bg-3: #627D98;
  --color-text: white;
}

html,
body {
  background-color: var(--color-bg-1);
  color: var(--color-text);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
